configuration {
    theme:  "tomorrow-night";
    font:   "monospace 20";
    hide-scrollbar: true;
    width: 38;
    lines: 10;
    columns: 2;
    window-format:  "Desktop {w}: {t}";
    max-history-size: 20;
    modi: "window,run,file-browser";
}
